body {
  background-color: #b7b6b2;
}
main {
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 300px 600px;
  justify-content: center;
}
.cv-side-panel {
  padding: 50px 30px;
  background-color: #ccc;
}
.cv-name {
  font-weight: bolder;
  font-size: 2.2em;
}
.cv-name p {
  margin-bottom: 10px;
}
.cv-highlight {
  color: #e98340;
}
.cv-photo {
  height: auto;
  object-fit: cover;
  margin-left: -30px;
  margin-top: 1rem;
  width: calc(100% + 60px);
}
h2 {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 2px solid #aaa;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
strong {
  font-weight: bold;
}
.cv-list li{
  margin-bottom: 20px;
}
.cv-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  padding-right: 100px;
}
.cv-grid item {
  margin-bottom: 3px;
}
.cv-main-panel {
  padding: 50px 20px 10px 20px;
  background-color: #fafafa;
}
.cv-main-panel h2:first-child {
  margin-top: 0;
}
