body {
  background-color: #b7b6b2;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #fff;
}
main {
  display: flex;
  font-family: sans-serif;
  margin: auto;
  max-width: 80%;
}

li {
  margin-bottom: 5px;
}
code {
  margin-bottom: 5px;
}
.dotList {
  list-style-type: circle;
  padding-left: 1rem;
}
.side-panel__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.cv-side-panel {
  background-color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 300px;
}
.cv-name {
  font-weight: bolder;
  font-size: 2.2em;
}
.cv-name p {
  margin-bottom: 10px;
}
.cv-highlight {
  color: #e98340;
}
.cv-photo {
  height: auto;
  object-fit: cover;
  margin-top: 1rem;
  width: 100%;
}
h2 {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 2px solid #aaa;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
strong {
  font-weight: bold;
}
.cv-list li {
  margin-bottom: 20px;
}
.cv-grid {
  display: grid;
  gap: 0;
  padding-right: 100px;
  grid-template-columns: max-content auto;
  margin-left: 10px;
}
.item {
  margin-bottom: 5px;
  padding-right: 10px;
}
.cv-main-panel {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fafafa;
  width: 100%;
}
.main-panel__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.cv-main-panel h2:first-child {
  margin-top: 0;
}
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: dimgray;
  margin: auto;
  max-width: 80%;
}
.cv-app-year {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px #e98340 solid;
  color: bisque;
  font-weight: bold;
}

@media (max-width: 1024px) {
  main {
    max-width: 100%;
  }
  .cv-side-panel {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
  }
  footer {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  .cv-side-panel {
    width: 100%;
  }
  .cv-main-panel {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
